<p id="notice"><%= notice %></p>

<% if current_user.role == "admin" %>
  <%= render 'admin_index' %>
<% else %>
<ul class="collection with-header">
   <li class="collection-header"><h1>Projects</h1></li>
   <% @projects.each do |project| %>
     <li class="collection-item">
       <div>
         <%= link_to project.name, project_path(project) %>
       </div>
     </li>
   <% end %>
 </ul>
<% end %>
